body{
	background-color: black;
}

.jumbotron{
	background-color: white;
	font-family: 'Ceviche One', cursive;
}			

.jumbotron h1{
	font-size: 125px;
	text-align: center;
}

.jumbotron a{
	font-size: 30px;
	color: black;
}

span{
	font-size: 50px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: #7d24ad;
	margin-left: 20%;
}

img{
	height: auto;
	width: 80%;
	min-height: 300px;
	max-height: 600px;
}

h3{
	font-size: 30px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: white;
	margin-left: -35%;
}

#personsname{
	font-size: 30px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: #7d24ad;
	margin-left: -17%;
}

#computer{
	font-size: 30px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: #7d24ad;
	margin-left: 17%;
}

#userscore{
	font-size: 30px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: white;
	margin-left: -17%;
	margin-right: 15%;
}

#computerscore{
	font-size: 30px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: white;
}

#computerschoice{
	position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  margin-top: 30%;
  margin-left: 30%;
  font-size: 50px;
	font-family: 'Ceviche One', cursive;
	text-align: center;
	color: #7d24ad;
}